.jingle .bell {
  transform-origin: center top;
  animation: bellswing 3s ease-in-out;
}

.jingle .ringer {
  transform-origin: center top;
  animation: jingle 3s ease-in-out;
}

@keyframes bellswing {
  0%, 9.9%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(2deg); }
  20% { transform: rotate(-2deg); }
  30% { transform: rotate(1.5deg); }
  40% { transform: rotate(-1.5deg); }
  50% { transform: rotate(1deg); }
  60% { transform: rotate(-1deg); }
  70% { transform: rotate(0.5deg); }
  80% { transform: rotate(-0.5deg); }
  90% { transform: rotate(0.2deg); }
}

@keyframes jingle {
  0%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(11.25deg); }
  40% { transform: rotate(-11.25deg); }
  50% { transform: rotate(7.5deg); }
  60% { transform: rotate(-7.5deg); }
  70% { transform: rotate(3.75deg); }
  80% { transform: rotate(-3.75deg); }
  90% { transform: rotate(1.5deg); }
}
